.product-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  border: 10px solid #ccc;
  border-radius: 100px;
  padding: 10px;
}

.card img {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  border-radius: 5px;
}

.card p {
  margin: 10px 0;
}

.upload-container {
  text-align: center;
}

.upload-container input[type='file'] {
  display: none;
}

.upload-container button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
body {
  background-color: #808080;
}